<div class="row">
  <div class="col-md-6 m-auto mt-5">
    {{!-- 類別篩選 --}}
    <div class="select-list">
      <select class="form-select  border-black" aria-label="Default select example">
        <option selected>類別</option>
        {{#each categorys}}
        <option value="{{this._id}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    {{!-- 總金額顯示 --}}
    <div class="total d-flex flex-wrap justify-content-between mt-4">
      <p class="fs-5">總金額：</p>
      <p class="fs-1" id="totalAmount" style="color:#A6033F;">15000000</p>
    </div>
    {{!-- 資料清單 --}}
    <div class="data-panel">
      <ul class="list-group">

          {{#each data}}
          <li class="list-group-item d-flex align-items-center" style="height:90px;">
            <i class="fa-solid fa-house" style="font-size:4em;"></i>
            <div class="name&date mx-3" style="display: flex;
                        flex-direction: column;">
              <div style="height:50%;font-size:1.5em">{{this.name}}</div>
              <div class="date" style="height:50%;">{{ this.date}}</div>
            </div>
            <div class="d-flex   cost" style="margin-left: auto;font-size:1.5em;">{{this.amount}}</div>
            <div class="edit&delete d-flex" style="position: absolute;left:520px;">
              <a href="/expense/{{this._id}}" class="btn btn-info " style="height:50px;width:70px;font-size:21px;">修改</a>
              <a href="/" class="btn btn-danger" style="height:50px;width:70px;font-size:21px;">刪除</a>
            </div>
          </li>
          {{/each}}
          
      </ul>
    </div>
    {{!-- 新增按鈕 --}}
    <div class="d-flex justify-content-center mt-3 ">
      <a href="/expense/new" class="btn btn-outline-primary " style="width:75%;">
        新增支出</a>
    </div>
  </div>
</div>

<script>
  let totalAomunt = document.querySelector('#totalAmount')
  const amounts = document.querySelectorAll('.cost')
  let total = 0

  amounts.forEach((item)=>{
    total += Number(item.innerText)
    return total
  })
  totalAomunt.innerText = total
</script>